<button class="btn btn-primary" @onclick="Toggle">@_buttonTxt</button>

@code {

    private bool _darkMode = false;
    private string _buttonTxt = "Dark mode";

    [Parameter]
    public EventCallback<bool> OnDarkModeToggled { get; set; }

    private void Toggle()
    {
        _darkMode = !_darkMode;
        _buttonTxt = _darkMode ? "Light mode" : "Dark mode";
        OnDarkModeToggled.InvokeAsync(_darkMode);
    }
}