@inject ThemeManager tm

<button class="btn btn-primary" @onclick="Toggle">@_buttonTxt</button>

@code {

    private string _buttonTxt = "Dark mode";

    [Parameter]
    public EventCallback? OnDarkModeToggled { get; set; }

    private async void Toggle()
    {
        _buttonTxt = tm.SwitchTheme() == "dark" ? "Light mode" : "Dark mode";
        await OnDarkModeToggled?.InvokeAsync();
        //StateHasChanged();
    }
}