@inject ThemeManager tm

<button class="btn btn-primary" @onclick="Toggle">@_buttonTxt</button>

@code {

    private string _buttonTxt = "Dark mode";

    [Parameter]
    public EventCallback<bool> OnDarkModeToggled { get; set; }

    private async void Toggle()
    {
        _buttonTxt = tm.GetCurrentTheme() == "" ? "Dark mode" : "Light mode";
        //await InvokeAsync(() => StateHasChanged());
        await OnDarkModeToggled.InvokeAsync();
        //StateHasChanged();
    }
}